/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-Mar-2017, 09:27:05
    Author     : D_con
*/

h1, h2, h3{
    
    font-family: "Verdana", Arial, sans-serif; 
    color: #262626;
    
}


p{
    font-family: "Verdana", Arial, sans-serif; 
    color: #262626;
    
}

body{
    
    background-color: #fcfcfc;
    
}

a:link{
  
    font-family: "Verdana", Arial, sans-serif; 
    color: #0000cc;
}

a:visited{
    

    font-family: "Verdana", Arial, sans-serif; 
    color: #6600cc;
}

a:hover{
    
    font-weight: bold;
}

#SiteTitle{
    
    width: 35%;
    margin-left: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    float: left;

}

#BachTitle{
    
    width: 64%;
    margin-left: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    border-left: 2px solid #262626;
    float: left;
  
 
}
#BachHeader{
    
   height: 80px;
   border: 2px solid #262626;
}